<header>
  <h1>EJS Template Mastery Project</h1>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/#">Contact</a>
    <a href="/products">Products</a>
  </nav>
  <img src="https://cdn.pixabay.com/photo/2022/08/22/02/05/logo-7402513_640.png" width="100px" height="100px" id="branding" alt="branding">
</header>