<header>
  <h1>Cucina Tagiliani Pasta, Pizza & Vino</h1>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/menu">Menu</a>
  </nav>
  <img src="/tagliani.png" width="100px" height="100%" id="branding" alt="logo">
</header>